* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
}

.parent {
    font-size: 16px;
}

.child {
    font-size: 2em;

}

.btn {
    border-radius: 1em;
    padding: 1em;
    border: none;
    display: block;
    margin-inline: auto;
    cursor: pointer;
    background-color: orange;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1em;
    width: 10em;
}

.overflow {
    background-color: blue;
    height: 100px;
    overflow: scroll;
    width: 50px;
}

.btn-small {
    font-size: 20px;
    /* padding: 8px; */
}

.btn:hover {
    background-color: red;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
    transition: all 0.5s;

}

ol {
    list-style-type: lower-greek;
}

.parent-10 {
    ol {
        background-color: violet;
    }

    ul:first-child {
        background-color: orange;
    }

    ul:last-child {
        background-color: green;

        li:nth-child(2) {
            background-color: orange;
        }
    }

    li:first-of-type {
        background-color: red;
    }

    li:nth-of-type(2) {
        background-color: yellow;
    }
}

